<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Pipelines" version="2017.10.15.2" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="Telemetry" version="2017.10.24.1" targetFramework="net462" />
</packages>